In [51]:
import pandas as pd

In [53]:
xlsx_file = 'Resources/cbsa-met-est2021-pop.xlsx'

census_2021_df = pd.read_excel(xlsx_file,
                               skiprows = range(1,4))
#census_2021_df = pd.read_excel(xlsx_file)
census_2021_df.head()

,table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3
0,United States,331449281.0,331501080.0,331893745.0
1,.In Metropolitan Statistical Area,286104556.0,286195308.0,286472775.0
2,".Abilene, TX Metro Area",176579.0,176809.0,177314.0
3,".Akron, OH Metro Area",702219.0,701305.0,700015.0
4,".Albany, GA Metro Area",148922.0,148417.0,147773.0

In [54]:
census_2021_df=census_2021_df.rename(columns = {
    'table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)':'Geographic Area',
    'Unnamed: 1':'April 2020',
    'Unnamed: 2':'2020',
    'Unnamed: 3':'2021'
})
census_2021_df

,Geographic Area,April 2020,2020,2021
0,United States,331449281.0,331501080.0,331893745.0
1,.In Metropolitan Statistical Area,286104556.0,286195308.0,286472775.0
2,".Abilene, TX Metro Area",176579.0,176809.0,177314.0
3,".Akron, OH Metro Area",702219.0,701305.0,700015.0
4,".Albany, GA Metro Area",148922.0,148417.0,147773.0
...,...,...,...,...
428,Note: The estimates are developed from a base ...,NaN,NaN,NaN
429,Suggested Citation:,NaN,NaN,NaN
430,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN
431,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN
432,Release Date: March 2022,NaN,NaN,NaN

In [62]:
census_2021_df = census_2021_df.dropna()
census_2021_df

,Geographic Area,April 2020,2020,2021
0,United States,331449281.0,331501080.0,331893745.0
1,.In Metropolitan Statistical Area,286104556.0,286195308.0,286472775.0
2,".Abilene, TX Metro Area",176579.0,176809.0,177314.0
3,".Akron, OH Metro Area",702219.0,701305.0,700015.0
4,".Albany, GA Metro Area",148922.0,148417.0,147773.0
...,...,...,...,...
423,"..MayagÃ¼ez, PR Metro Area",97605.0,97335.0,96270.0
424,"..Ponce, PR Metro Area",224142.0,223553.0,221222.0
425,"..San GermÃ¡n, PR Metro Area",125100.0,124989.0,124644.0
426,"..San Juan-BayamÃ³n-Caguas, PR Metro Area",2081265.0,2078738.0,2068451.0
427,"..Yauco, PR Metro Area",86142.0,85898.0,84738.0

In [96]:
us_cities_2021 = ['Atlanta',
                    'Austin',
                    'Baltimore',
                    'Boston',
                    'Buffalo',
                    'Charlotte',
                    'Chicago',
                    'Cincinnati',
                    'Cleveland',
                    'Columbus',
                    'Dallas',
                    'Denver',
                    'Detroit',
                    'Green Bay',
                    'Houston',
                    'Indianapolis',
                    'Jacksonville',
                    'Kansas City',
                    'Las Vegas',
                    'Los Angeles',
                    'Memphis',
                    'Miami',
                    'Minneapolis',
                    'Milwaukee',
                    'Nashville',
                    'New Orleans',
                    'New York',
                    'Oakland',
                    'Oklahoma City',
                    'Orlando',
                    'Philadelphia',
                    'Phoenix',
                    'Pittsburgh',
                    'Portland',
                    'Raleigh',
                    'Sacramento',
                    'Salt Lake',
                    'San Antonio',
                    'San Diego',
                    'San Francisco',
                    'San Jose',
                    'St. Louis',
                    'Seattle',
                    'Tampa',
                    'Washington']

searchcity = '|'.join(us_cities_2021)
pro_us_cities_2021 = census_2021_df[census_2021_df['Geographic Area'].str.contains(searchcity)]
pro_us_cities_2021

# pro_us_cities_2021 = census_2021_df.loc[census_2021_df['Geographic Area'].isin(us_cities_2021)]
# pro_us_cities_2021

,Geographic Area,April 2020,2020,2021
19,".Atlanta-Sandy Springs-Alpharetta, GA Metro Area",6089815.0,6101146.0,6144050.0
23,".Austin-Round Rock-Georgetown, TX Metro Area",2283371.0,2299125.0,2352426.0
25,".Baltimore-Columbia-Towson, MD Metro Area",2844510.0,2841691.0,2838327.0
44,".Boston-Cambridge-Newton, MA-NH Metro Area",4941632.0,4936511.0,4899932.0
45,"..Boston, MA Metro Division",2054736.0,2052435.0,2028753.0
...,...,...,...,...
349,".Seattle-Tacoma-Bellevue, WA Metro Area",4018762.0,4024730.0,4011553.0
350,"..Seattle-Bellevue-Kent, WA Metro Division",3097632.0,3101902.0,3085845.0
373,".Tampa-St. Petersburg-Clearwater, FL Metro Area",3175275.0,3183385.0,3219514.0
396,".Washington-Arlington-Alexandria, DC-VA-MD-WV ...",6385162.0,6385714.0,6356434.0
398,"..Washington-Arlington-Alexandria, DC-VA-MD-WV...",5051384.0,5051734.0,5021772.0

In [98]:
new_df = pd.DataFrame(columns = ['Geographic Area', 'April 2020', '2020', '2021'])
temp_df = pd.DataFrame()
for city in us_cities_2021:
    temp_df = pro_us_cities_2021.loc[pro_us_cities_2021['Geographic Area'].str.contains(city)]
    temp_df = temp_df.sort_values('2021',ascending=False)
    temp_df['City Area'] = city
    new_df=new_df.append(temp_df.head(1))
    
new_df.set_index('City Area')

,Geographic Area,April 2020,2020,2021
City Area,,,,
Atlanta,".Atlanta-Sandy Springs-Alpharetta, GA Metro Area",6089815.0,6101146.0,6144050.0
Austin,".Austin-Round Rock-Georgetown, TX Metro Area",2283371.0,2299125.0,2352426.0
Baltimore,".Baltimore-Columbia-Towson, MD Metro Area",2844510.0,2841691.0,2838327.0
Boston,".Boston-Cambridge-Newton, MA-NH Metro Area",4941632.0,4936511.0,4899932.0
Buffalo,".Buffalo-Cheektowaga, NY Metro Area",1166902.0,1165506.0,1162336.0
Charlotte,".Charlotte-Concord-Gastonia, NC-SC Metro Area",2660329.0,2669665.0,2701046.0
Chicago,".Chicago-Naperville-Elgin, IL-IN-WI Metro Area",9618502.0,9601605.0,9509934.0
Cincinnati,".Cincinnati, OH-KY-IN Metro Area",2256884.0,2257667.0,2259935.0
Cleveland,".Cleveland-Elyria, OH Metro Area",2088251.0,2085357.0,2075662.0
Columbus,".Columbus, OH Metro Area",2138926.0,2141042.0,2151017.0
Dallas,".Dallas-Fort Worth-Arlington, TX Metro Area",7637387.0,7662325.0,7759615.0
Denver,".Denver-Aurora-Lakewood, CO Metro Area",2963821.0,2969289.0,2972566.0
Detroit,".Detroit-Warren-Dearborn, MI Metro Area",4392041.0,4385748.0,4365205.0
Green Bay,".Green Bay, WI Metro Area",328268.0,328323.0,329490.0
Houston,".Houston-The Woodlands-Sugar Land, TX Metro Area",7122240.0,7137747.0,7206841.0
Indianapolis,".Indianapolis-Carmel-Anderson, IN Metro Area",2111040.0,2113700.0,2126804.0
Jacksonville,".Jacksonville, FL Metro Area",1605848.0,1611388.0,1637666.0
Kansas City,".Kansas City, MO-KS Metro Area",2192035.0,2193578.0,2199490.0
Las Vegas,".Las Vegas-Henderson-Paradise, NV Metro Area",2265461.0,2273386.0,2292476.0
Los Angeles,".Los Angeles-Long Beach-Anaheim, CA Metro Area",13200998.0,13173266.0,12997353.0
Memphis,".Memphis, TN-MS-AR Metro Area",1337779.0,1337311.0,1336103.0
Miami,".Miami-Fort Lauderdale-Pompano Beach, FL Metro...",6138333.0,6126441.0,6091747.0
Minneapolis,".Minneapolis-St. Paul-Bloomington, MN-WI Metro...",3690261.0,3692421.0,3690512.0
Milwaukee,".Milwaukee-Waukesha, WI Metro Area",1574731.0,1573598.0,1566487.0
Nashville,".Nashville-Davidson--Murfreesboro--Franklin, T...",1989519.0,1995343.0,2012476.0
New Orleans,".New Orleans-Metairie, LA Metro Area",1271845.0,1270366.0,1261726.0
New York,".New York-Newark-Jersey City, NY-NJ-PA Metro Area",20140470.0,20096413.0,19768458.0
Oakland,".San Francisco-Oakland-Berkeley, CA Metro Area",4749008.0,4739649.0,4623264.0
Oklahoma City,".Oklahoma City, OK Metro Area",1425695.0,1428709.0,1441647.0
Orlando,".Orlando-Kissimmee-Sanford, FL Metro Area",2673376.0,2677687.0,2691925.0
Philadelphia,".Philadelphia-Camden-Wilmington, PA-NJ-DE-MD M...",6245051.0,6241983.0,6228601.0
Phoenix,".Phoenix-Mesa-Chandler, AZ Metro Area",4845832.0,4867925.0,4946145.0
Pittsburgh,".Pittsburgh, PA Metro Area",2370930.0,2367293.0,2353538.0
Portland,".Portland-Vancouver-Hillsboro, OR-WA Metro Area",2512859.0,2516230.0,2511612.0
Raleigh,".Raleigh-Cary, NC Metro Area",1413982.0,1420225.0,1448411.0
Sacramento,".Sacramento-Roseville-Folsom, CA Metro Area",2397382.0,2399351.0,2411428.0
Salt Lake,".Salt Lake City, UT Metro Area",1257936.0,1259517.0,1263061.0
San Antonio,".San Antonio-New Braunfels, TX Metro Area",2558143.0,2566683.0,2601788.0
San Diego,".San Diego-Chula Vista-Carlsbad, CA Metro Area",3298634.0,3297252.0,3286069.0
San Francisco,".San Francisco-Oakland-Berkeley, CA Metro Area",4749008.0,4739649.0,4623264.0
San Jose,".San Jose-Sunnyvale-Santa Clara, CA Metro Area",2000468.0,1995105.0,1952185.0
St. Louis,".St. Louis, MO-IL Metro Area",2820253.0,2818267.0,2809299.0
Seattle,".Seattle-Tacoma-Bellevue, WA Metro Area",4018762.0,4024730.0,4011553.0
Tampa,".Tampa-St. Petersburg-Clearwater, FL Metro Area",3175275.0,3183385.0,3219514.0
Washington,".Washington-Arlington-Alexandria, DC-VA-MD-WV ...",6385162.0,6385714.0,6356434.0

In [ ]:
new_df.to_csv('us_census_data.csv')

In [88]:
# xlsx_file_2 = 'Resources/SUB-IP-EST2019-ANNRES (3).xlsx'

# census_2016_df = pd.read_excel(xlsx_file_2,
#                                skiprows = range(1,4))
# #census_2021_df = pd.read_excel(xlsx_file)
# census_2016_df.head()

In [ ]:
census_2021_df=census_2021_df.rename(columns = {
    'table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)':'Geographic Area',
    'Unnamed: 1':'April 2020',
    'Unnamed: 2':'2020',
    'Unnamed: 3':'2021'
})
census_2021_df

In [ ]:
us_cities_2016 = ['Atlanta',
                    'Austin',
                    'Baltimore',
                    'Boston',
                    'Buffalo',
                    'Charlotte',
                    'Chicago',
                    'Cincinnati',
                    'Cleveland',
                    'Columbus',
                    'Dallas',
                    'Denver',
                    'Detroit',
                    'Green Bay',
                    'Houston',
                    'Indianapolis',
                    'Jacksonville',
                    'Kansas City',
                    'Las Vegas',
                    'Los Angeles',
                    'Memphis',
                    'Miami',
                    'Minneapolis',
                    'Milwaukee',
                    'Nashville',
                    'New Orleans',
                    'New York',
                    'Oakland',
                    'Oklahoma City',
                    'Orlando',
                    'Philadelphia',
                    'Phoenix',
                    'Pittsburgh',
                    'Portland',
                    'Raleigh',
                    'Sacramento',
                    'Salt Lake',
                    'San Antonio',
                    'San Diego',
                    'San Francisco',
                    'San Jose',
                    'St. Louis',
                    'Seattle',
                    'Tampa',
                    'Washington',]
pro_us_cities_2016 = census_2016_df.loc[census_2016_df['NAME'].isin(us_cities_2016)]
pro_us_cities_2016